<%- include('../partials/header') %>

<%- include('../partials/menu'); %>

        <div class= "container-fluid">
            <div class="container register-form">
                <div class ="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header" id="customBG2">
                                <h1>The Note Squad</h1>
                            </div>
                            <div class="card-header" style="background-color:rgb(56, 224, 143)">
                                <h2>Overview of Application Architecture:</h2>
                            </div>
                            <div class="card-body"> 
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;NoteSquad.com will be hosted with a free site, Heroku. It will use amazon s3 as the filesystem for storing the notes (files) and PostgreSQL as the database for profiles and relevant information. We use bootstrap and ejs partial templates for the user interface.</p>
                            </div>
                            <div class="card-header" style="background-color:rgb(56, 224, 143)">
                                <h2>Project Description:</h2>
                            </div>
                            <div class="card-body"> 
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;NoteSquad.com is a local student webpage for other students to exchange resources, notes, and find notetakers. This webpage will make it easier for students, especially long-distance/remote learning students, to find notetakers and study material, all in one place. </p>
                                <p>&nbsp;&nbsp;&nbsp;&nbsp;The students can make a profile which contains their contact information, major, and a list of their current classes. The search feature makes it easier for students to find what they’re looking for quickly, whether it be a notetaker, note taking jobs, or study material relevant to their current courses and major.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="navbar bg-transparent position-sticky rounded-lg py-0">
            <div class ="navbar-brand mx-auto py-0">
                <p class="mt-5 mb-3 text-light">&copy; NoteTakers 2021</p>
            </div>
        </div>
<%- include('../partials/footer') %>