        <!-- This is a modal used to modify profile information with .js -->
        <div id="myModal" class="modal fade"> 
            <div class="modal-dialog modal-login">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title">Edit Profile</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body font-weight-bold">
                        <form id="changeForm" method="POST" action="/update">
                            <div class="input-group form-group">
                                <label for="email">Email</label>
                                <input id="email" name="email" type="email" class="form-control" placeholder="Email" >
                            </div>
                            <div class="input-group form-group">
                                <label for="fullname">Name</label>
                                <input id="fullname" name="fullname" type="text" class="form-control" placeholder="Name" >
                            </div>
                            <div class="input-group form-group">
                                <label for="university">University</label>
                                <input id="university" name="university" type="text" class="form-control" placeholder="University" >
                            </div>
                            <div class="input-group form-group">
                                <button type="submit" class="btn btn-primary btn-block login-btn">Save Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>