    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- Updated jquery -->
    
    <script src="../resources/js/custom/profile_fill.js" type="text/javascript"></script>
<% if(typeof my_title == 'string' && my_title != 'Registration Page' && my_title != 'Login Page'){ %>
    <script src="../resources/js/libraries/bootstrap-tour-standalone.min.js" type="text/javascript"></script>
    <script src="../resources/js/custom/base_tour.js" type="text/javascript"></script>
    <!-- Optional JavaScript -->
    <script src="../resources/js/custom/changeProfile.js" type="text/javascript"></script>
<% } %>
<% if(my_title == 'Login Page'){ %>
    <script type="text/javascript">
        function addCSSToBody(){
            document.body.classList.add("center" ,"text-center");}
            window.onload= addCSSToBody;
    </script>
<% } %>
<% if(my_title == 'Registration Page'){ %>
    <script type="text/javascript"> window.onload = openModal(); </script>
<% } %>
    
    <!-- Navbar Footer -->
    <div class="row">
        <div class="col-12">
            
        </div>
    </div>
  </body>
</html>