        <!-- This is a modal used to modify profile information with .js -->
        <div id="myModupload" class="modal fade"> 
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h4 class="modal-title">Submit a PDF</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body font-weight-bold">
                        <form id="Myform" action="/upload" method="POST" enctype="multipart/form-data" >
                            <div class="input-group form-group">
                                <label for="major">Major </label>
                                <input id="major" name="major" class="form-control" placeholder="Your major" required>
                            </div>
                            <div class="input-group form-group">
                                <label for="course">Course ID </label>
                                <input id="course" name="course" class="form-control" placeholder="4 letters and 4 numbers" required>
                            </div>
                            <div class="input-group form-group">
                                <input id="pdf_file" type="file" name="pdf_file" required >
                                <button id="mybut" type="submit" class="btn-primary rounded-pill shadow">Upload</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <% if (typeof err !== 'undefined') { %>
                <% err.forEach( function(e) { %>
                  <div class="alert alert-danger justify-content-center"><%= e.message || e %></div>
              <% }); %>
            <% } %>
        </div>