<!Doctype html>
<html lang = "en">
  <head>
    <title>Profile</title>
    <link rel='icon' href='../resources/img/admin_transparent_icon.png' type='image/x-icon'/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap core CSS local for tour -->
    <link rel="stylesheet" type="text/css" href="../resources/css/libraries/bootstrap.min.4.2.1.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/libraries/bootstrap-tour-standalone.min.css">
    <!-- custom -->
    <link rel="stylesheet" type="text/css" href="../resources/css/custom/my_style.css">
    <script src="../resources/js/custom/changeProfile.js" type="text/javascript"></script>
    <script src="../resources/js/custom/profile_fill.js" type="text/javascript"></script>

  </head>
  <Body>
    <!-- Navigation bar-->
    <nav class="navbar" id="nsnavbar" style="font-size : 20px; padding: 10px;">
      <button class="navbar-toggler ml-3" onclick="location.href='../views/login.html'">Home</button>
      <button class="navbar-toggler mx-auto" href="#myModal" data-toggle="modal" onclick="onOpenModal();">Edit Profile</button>
      <button class="navbar-toggler mr-3" id="Tour">Tour</button>
    </nav>
    <div id="customBG">
    <!-- Logo -->
    <div class="flex-row ml-2 col-2">
      <img id="NoteSquadLogo" src="../resources/img/EDITED NOTESQUAD.png"></img>
    </div>
    <!-- Search bar -->
    <div class="ml-5">
      <div class="rounded-pill col-10 ml-5" style="min-width: 30pc;">
        <form action=""> <!-- where to send the data entered into search bar -->
            <div id="roundcorners" class="input-group" style="padding: 5px; background-color: rgb(214, 206, 206);">
                <button id="search_button" class="btn btn-outline-dark btn-primary rounded-pill text-light"><i class="fa fa-search"></i>Search</button>
              <input type="search" placeholder="What're you searching for? Notes? People?" aria-describedby="search_button" class="form-control rounded-pill bg-none border mx-1">
            </div>
        </form>
      </div>
    </div>
    <br><br>
    <!-- begin containers for information and picture for profile -->
    <div class="row">
      <!-- container for profile info left side picture-->
      <div id="profile-round" class="container col-3" style="border-color: #ff0000; max-height: 47rem; min-height: 47rem;">
        <div class="flex-row">
          <div class="row px-3 mt-3">
            <div class="card rounded-circle mx-auto" style="background-color: #ff0000;" >
              <img class="card-img-top rounded-circle" id="user_img" src="../resources/img/hackerman_profile.jpg" alt="Generic Hackerman meme. You didn't miss much.">
            </div>
          </div>
          <br>
          <!--main profile information-->
          <div id="profile_info" class="row mx-auto" >
            <div class="table-responsive border text-black border-dark mx-auto" style="background-color: white">
              <table class="table" style="margin-bottom: 0rem;">
                <tr>
                  <th>Username:</th>
                  <td id="u_Username">The Big Cheese</td>
                </tr>
                <tr>
                  <th>Email:</th>
                  <td id="u_Email">hackerman@yandex.ru</td>
                </tr>
                <tr>
                  <th>First Name:</th>
                  <td id="u_Fname">Russian</td>
                </tr>
                <tr>
                  <th>Last Name:</th>
                  <td id="u_Lname">Hackerman</td>
                </tr>
                <tr>
                  <th>University:</th>
                  <td id="u_University">Hardknocks, Novosibirsk</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <!--account type-->
        <div class="table-responsive text-center ">
          <table class="table" style="text-align: center; margin: 0px; border-spacing: 0;">
            <tr>
              <th>Account Type:</th>
            </tr>
            <tr>
              <td id="u_type">Student</td>
            </tr>
          </table>
        </div>
      </div>
      <!-- container for tabs info right side -->
      <div id="profile-round" class="container col-8" style="border-color:  #ff0000;">
        <div class="flex-row" style="background-color:white">
          <!--buttons for different tabs-->
          <ul id="fileTabs" class="nav nav-tabs mt-3" style="background-color:rgb(249,250,215)">
            <li class="nav-item border">
              <a class="nav-link btn-primary" aria-current="page" href="#">About Me</a>
            </li>
            <li class="nav-item border">
              <a class="nav-link btn-primary" href="#" onclick="">Notes</a>
            </li>
            <li class="nav-item border">
              <a class="nav-link btn-primary" href="#" onclick="">Messages</a>
            </li>
            <li class="nav-item border">
              <a class="nav-link btn-primary" href="#" onclick="">Report</a>
            </li>
          </ul>
          <!--editable table for about me or notes or messages information i hope-->
          <div class="table-responsive border mb-4 mx-auto">
            <table class="table">
              <tr>
                <td >
                  <span id="user_main"></span>
                  <p id="u_Description">Versuch ich’s mich so kühnlich hoch zu heben,<br>
                    Zu den Gefilden reiner Lebensstrahlen?<br>
                    Und wag’ ich’s frech, mit schwacher Hand zu malen<br>
                    Was Dir nur ziemt, das buntbewegte Leben?<br>
                    Wie soll der Kinderzunge lallend Streben<br>
                    Aussprechen, was des Mannes Kraft gesungen?<br>
                    Wie soll des Menschen Stimme wiedergeben,<br>
                    Was aus der tiefen Götterbrust entsprungen?<br>
                    O! wenn der Liebe ungestümer Drang<br>
                    Mich trieb, dass ich das Heiligste entweihe,<br>
                    Und zu berauschter, frecher Sünde zwang;<br>
                    So schaue Du, aus der Verklärten Reihe,<br>
                    Aus Himmelsharfen liebevollem Klang,<br>
                    Und, wenn du mich nicht loben kannst, verzeihe!<br>
                  </p>
                  <!--function to fill big boxes with gibberish-->
                  <!-- <script>fillForm('u_about')</script>  -->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <!-- end profile -->
    <!-- This is a modal used to modify profile information with .js -->
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Edit Profile</h4>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          </div>
          <div class="modal-body font-weight-bold">
            <div class="form-group">
              <label for="first">First Name</label>
              <input id="first" type="text" class="form-control" placeholder="First Name" required>
            </div>
            <div class="form-group">
              <label for="last">Last Name</label>
              <input id="last" type="text" class="form-control" placeholder="Last Name" required>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input id="email" type="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="form-group">
              <label for="university">University</label>
              <input id="university" type="text" class="form-control" placeholder="University" required>
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea class="form-control" id="description" rows="3"></textarea>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block login-btn" data-dismiss="modal" onclick="saveData();">Save Profile</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <script src="../resources/js/custom/changeProfile.js" type="text/javascript"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <!-- Updated jquery -->
    <script src="../resources/js/libraries/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="../resources/js/libraries/bootstrap.bundle.min.4.2.1.js" type="text/javascript"></script>
    <script src="../resources/js/libraries/bootstrap-tour-standalone.min.js" type="text/javascript"></script>
    <script src="../resources/js/custom/base_tour.js" type="text/javascript"></script>
  </body>
</html>
